* {
    padding: 0;
    margin: 0;

}
body {
    background: url("../img/雨天.jpg") no-repeat left top;
}

.container {
    max-width: 400px;
    width: auto;
    margin: 0 auto;
}

.body_box {
    position: relative;
    top:200px;
    left: 0px;
    width: auto;
}

.body_box .search{
    float: right;
    background: #fff;
}

.body_box .search,
.body_box .search input
{
    border: 2px solid #fff;
    border-radius: 10px;
    width: 528px;
    height: 45px;
    background: rgba(0,0,0,0.2)
}

.body_box .search input {
    border: none;
    height: 43px;
    width: 483px;
    float: left;
    outline: none;
    font-size: 32px;
    font-family: "IBM Plex Mono Text", serif;
    color: #ff6b81;
    margin-left: 2px;
}

.body_box .search img {
    line-height: 53px;
    margin-top: 2px;
    margin-right: 3px;
    width: 40px;
    cursor: pointer;
}

.body_box .logo{
    float: left;
    position: relative;
    left: -265px;
    top: 43px;

}
.logo span span {
    font-size: 30px;
}

.logo span a {
    font-size:33px;
    font-family: "IBM Plex Mono Light",serif;
    text-decoration: none;
    color: #5352ed;
}

.body_box .menu {
    position: relative;
    left: -120px;
    top: 20px;
}

.menu .item {
    color: #fff;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    line-height: 30px;
    transition: 0.5s;
}

.menu .active{
    color: #fff;
    padding: 2px;
    border-radius: 5px;
    height: 30px;
    background-color: #70a1ff;
}

.datetime time {
    color: white;
    font-size: 35px;
    position: relative;
    top: 80px;
    font-family: "IBM Plex Mono Light",serif;
    display: block;
}

.datetime .desc {
    position: relative;
    font-family: 文泉驿微米黑,serif;
    color: white;
    top: 100px;
    left: 30%;
    font-size: 20px;
}
